.contact-link {
  &__content {
    padding-block: clamp(4.5rem, 8.5vw, 8.5rem);
  }

  .contact-link__title {
    @include boldFont();
    font-size: clamp(3rem, 6.25vw, 6.25rem);
    padding-block-end: 1rem;
  }
  .contact-link__cta {
    @include boldFont();
    font-size: clamp(1.15rem, 1.25vw, 1.25rem);

    svg {
      font-size: clamp(1.25rem, 1.5vw, 1.5rem);
      display: inline-block;
      vertical-align: middle;
    }
  }
}
