.footer {
  background-color: var(--color-black);
  color: var(--color-white);

  &__content {
    position: relative;
    padding-block: clamp(4.5rem, 8.5vw, 8.5rem);

    &__wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      // height: max-content;

      @include media("<=tablet") {
        flex-direction: column;
        gap: 3rem;
      }
    }
  }

  &__logo {
    margin-block-end: clamp(2.5rem, 5.5vw, 5.5rem);
  }

  &__left {
    width: fit-content;
  }

  .footer__title {
    font-size: clamp(1.5rem, 2vw, 2rem);
  }

  .footer__right__list {
    display: flex;
    flex-direction: column;
    gap: clamp(1.5rem, 3.5vw, 3.5rem);

    @include media("<=tablet") {
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  &__nav {
    .footer__navlink {
      font-size: clamp(1rem, 1vw, 1rem);
    }

    .footer__navlist {
      li {
        transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }

  &__sociallinks {
    min-width: clamp(0rem, 18.75vw, 18.75rem);

    .footer__social__icons {
      font-size: clamp(1.5rem, 1.75vw, 1.75rem);
      padding-right: 20px;
      transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

      &:hover {
        color: var(--color-primary);
      }
    }
  }
  &__bottom {
    position: absolute;
    bottom: 2rem;
    font-size: clamp(0.75rem, 1vw, 1rem);
  }
}
