.header {
  position: absolute;
  width: 100%;
  z-index: 3;

  &.isOpen {
    position: fixed;

    .header__content {
      --textColor: var(--color-white);
    }

    .logo,
    .header__cta {
      transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        visibility 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      opacity: 0;
      visibility: hidden;
    }
  }

  &__content {
    position: relative;
    --textColor: var(--color-black);
    padding-block: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &[data-is-text-white="true"] {
      --textColor: var(--color-white);
    }

    // @include media("<=59.5em") {
    //   &[data-is-nav-open="true"] {
    //     --textColor: var(--color-black);
    //   }
    // }
  }

  .logo {
    --textColor: inherit;
    color: var(--textColor);
    // &[data-is-text-white="false"] {
    //   --textColor: var(--color-black);
    // }

    @include media("<=59.5em") {
      // &[data-is-nav-open="true"] {
      //   --textColor: var(--color-primary);
      // }
    }

    svg {
      // width: 100%;
      min-width: clamp(5rem, 16.25vw, 16.25rem);
      height: clamp(2rem, 2.5vw, 2.5rem);
    }
  }

  &__cta {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 0;
    border-radius: 100px;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    line-height: 1;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:hover {
      background-color: var(--color-azure);
    }

    @include media("<=25em") {
      display: none;
    }
  }

  .hamburger-menu {
    background: unset;
    border: unset;
    padding: unset;
    cursor: pointer;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: -1rem;

    span {
      display: block;
      width: 1.5rem;
      height: 2px;
      background-color: var(--textColor);
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

      will-change: transform, width;

      &:not(:last-of-type) {
        margin-bottom: 4px;
      }
    }

    &:hover {
      span:first-of-type {
        // width: 1rem;
      }
    }

    &.isOpen {
      span:first-of-type {
        transform: translateY(6px) rotate(45deg);
      }
      span:first-of-type + span {
        opacity: 0;
      }
      span:last-of-type {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}
