.menu__wrapper {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 2;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateY(-100%);
  will-change: transform;
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);

  &.isOpen {
    transform: translateY(0%);
  }

  .menu__content {
    background-color: var(--color-black);
    color: var(--color-white);
    width: 100%;
    height: 100vh;
    position: relative;
    display: none;

    &.isOpen {
      display: block;
    }

    --padding: clamp(4.75rem, 8.75vw, 8.75rem);
    padding-top: var(--padding);
    padding-bottom: calc(var(--padding) / 3);

    &__wrapper {
      display: flex;
      justify-content: space-between;

      @include media("<=64.5em") {
        flex-direction: column;
        gap: clamp(2rem, 4vw, 4rem);
      }
    }
    &__title {
      font-size: clamp(1.5rem, 2vw, 2rem);
    }

    &__left {
      .contact__form {
        font-size: clamp(1rem, 1vw, 1rem);

        &__group {
          margin-block: clamp(2rem, 4vw, 4rem);
        }
      }
    }
  }

  &__navlinks {
    li {
      margin-block-end: clamp(3rem, 7.875vw, 7.875rem);
    }
  }

  &__sociallinks {
    // @include navSocialLinks();
    display: flex;
    align-items: center;
    gap: clamp(2rem, 4vw, 4rem);

    @include media("<=25em") {
      display: block;
      //   flex-direction: column;
      //   align-items: flex-start;
      li {
        display: inline-block;
        margin-inline-end: 2rem;
        margin-block-end: 2rem;
        svg {
          display: inline-block;
        }
      }
    }

    li {
      &:last-of-type {
        margin-inline-start: clamp(1rem, 2vw, 2rem);
        @include media("<=25em") {
          margin-inline-start: 0;
        }
      }
    }
  }

  .divider {
    margin: 1rem 0;
  }
}
