.preloader {
  position: fixed;
  background-color: var(--color-black);
  color: var(--color-white);
  height: 100vh;
  width: 100%;
  z-index: 4;
  font-size: clamp(3.75rem, 6.25vw, 6.25rem);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    visibility 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;

  &.hide {
    transform: translateY(-100%);
    visibility: hidden;
  }

  .preloader__content {
    .preloader__spinner {
      font-size: clamp(2.75rem, 4.25vw, 4.25rem);
      margin-block-start: 3rem;
      display: inline-block;
      animation: spin 2s linear infinite, colorChange 2s linear infinite;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes colorChange {
  0% {
    color: var(--color-cream-can);
  }
  25% {
    color: var(--color-mandy);
  }
  50% {
    color: var(--color-blue-ribbon-100);
  }
  70% {
    color: var(--color-blue-ribbon);
  }
  100% {
    color: var(--color-cream-can);
  }
}
