/* H E R O */
.about {
  .hero {
    background-color: var(--color-azure);
    color: var(--color-white);

    &__content {
      position: relative;
      // height: 100%;
      padding-block-start: clamp(13rem, 17vw, 17rem);
      padding-block-end: clamp(3rem, 5vw, 5rem);
      // padding-block-end: clamp(10rem, 17vw, 17rem);

      &__text {
        position: relative;
      }

      .hero__title {
        @include boldFont();
        font-size: clamp(5.25rem, 18.25vw, 18.25rem);
        width: 200%;
        padding-block-end: 1rem;
        position: relative;
        // background-color: red;
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        left: -60%;
        // transform: translateX(-50%);

        @include media("<=25em") {
          width: 300%;
          font-size: clamp(4.25rem, 6.25vw, 6.25rem);
          left: -90%;
        }

        .hero__title-mute {
          opacity: 0.5;

          &--2 {
            opacity: 1;
          }
        }

        &:hover {
          left: 0;

          .hero__title-mute {
            opacity: 0.5;

            &--1 {
              opacity: 1;
            }
          }
        }
      }

      .hero__subtitle {
        //   padding-block-end: clamp(7rem, 10.25vw, 10.25rem);
        max-width: min(45ch, 100%);
        font-size: clamp(1.25rem, 1.5vw, 1.5rem);
      }

      .hero__image__mask {
        z-index: -1;
        position: absolute;
        right: 0;
        // top: 0;
        top: clamp(13rem, 17vw, 17rem);
        width: 50%;
        // height: 500px;
        height: 50%;
        // min-height: max(100%, 500px);
        background-image: url("/images/Man-in-the-city.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        mask-image: url("/images/I&T - Amp.svg");
        mask-repeat: no-repeat;
        mask-position: center;

        // @include media("<=75em") {
        //   // height: 100%;
        //   // top: unset;
        //   // bottom: 0;
        // }

        @include media(">=1920px") {
          height: 70%;
          top: clamp(7rem, 10vw, 10rem);
        }
        @include media("<=59.5em") {
          display: none;
        }
      }

      .hero__ampersand__bottom {
        position: absolute;
        bottom: -8.75%;
        left: -5%;
        z-index: -1;
        svg {
          width: 70%;
        }

        @include media("<=59.5em") {
          bottom: -12%;
          left: -5%;
        }
      }
    }
  }
}

.about {
  .we-believe {
    &__content {
      position: relative;
      // height: min(1080px, 100vh);
      height: clamp(47.5rem, 67.5vw, 67.5rem);
      display: flex;
      align-items: center;
      justify-content: center;

      @include media("<=tablet") {
        height: clamp(60.5rem, 67.5vw, 67.5rem);
      }

      &__text {
        text-align: center;
        position: relative;
        z-index: 1;
      }

      .we-believe__title {
        @include boldFont();
        font-size: clamp(3rem, 6.25vw, 6.25rem);
        padding-block-end: 1rem;
      }

      .we-believe__subtitle {
        display: inline-block;
        max-width: min(60ch, 100%);
        font-size: clamp(1.5rem, 2vw, 2rem);
        padding-block-end: clamp(4rem, 7.25vw, 7.25rem);
      }
    }

    &__image__list {
      .we-believe__image__wrapper {
        position: absolute;
        z-index: 0;
        top: 5%;
        left: 2.5%;
        width: clamp(6.25rem, 11.25vw, 11.25rem);
        box-shadow: 4px 4px 20px #00000038;
        --rotateAngle: 10;

        &:nth-of-type(odd) {
          transform: rotate(calc(-1deg * var(--rotateAngle)));
        }
        &:nth-of-type(even) {
          transform: rotate(calc(1deg * var(--rotateAngle)));
        }

        &-1 {
          top: 5%;
          left: 2.5%;
        }
        &-2 {
          left: unset;
          top: 5%;
          right: 2.5%;
          width: clamp(9rem, 14vw, 14rem);
        }

        &-3 {
          top: unset;
          bottom: -5%;
          left: 1.5%;
          width: clamp(16.875rem, 21.875vw, 21.875rem);
        }
        &-4 {
          left: unset;
          top: unset;
          bottom: 5%;
          right: 10%;
          width: clamp(7.5rem, 12.5vw, 12.5rem);
        }
      }
    }

    &__image {
      position: relative;
      aspect-ratio: 1.75 / 2;

      img {
        object-fit: cover;
      }
    }
  }
}

/* T E A M S */
.about {
  .team {
    &__content {
      padding-block: clamp(7.5rem, 12.5vw, 12.5rem);

      .team__title {
        @include boldFont();
        font-size: clamp(2.5rem, 3.15vw, 3.15rem);
        padding-block-end: 1rem;
      }

      .team__subtitle {
        max-width: min(70ch, 100%);
        font-size: clamp(1.15rem, 1.25vw, 1.25rem);
        padding-block-end: 2rem;
      }
    }
  }
  .team__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 2.125rem;

    @include media("<=59.5em") {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media("<=52.75em") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media("<=34.375em") {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .team__card {
    &__top {
      position: relative;
    }

    &__image {
      position: relative;
      aspect-ratio: 1;
      // height: 400px;
      background-color: var(--color-azure);

      img {
        object-fit: cover;
      }
    }

    &__details {
      padding-block: 1rem;
    }

    &__fullname {
      @include boldFont();
      font-size: clamp(1.5rem, 1.75vw, 1.75rem);
    }
  }
}

/* A W A R D S */
.about {
  .awards {
    &__content {
      padding-block: clamp(4.5rem, 8.5vw, 8.5rem);

      .awards__title {
        @include boldFont();
        font-size: clamp(1.25rem, 1.5vw, 1.5rem);
        padding-block-end: 1rem;
      }

      .awards__subtitle {
        max-width: min(58ch, 100%);
        font-size: clamp(1.15rem, 1.25vw, 1.25rem);
        padding-block-end: 2rem;
      }
    }
  }
  .awards__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    column-gap: clamp(3.5rem, 5vw, 5rem);
    row-gap: 2.125rem;

    @include media("<=tablet") {
      justify-content: center;
    }
  }

  .awards__image {
    position: relative;
    min-height: 75px;
    aspect-ratio: 50 / 19;

    &[data-orientation="square"] {
      aspect-ratio: 1 / 1;
      min-height: 150px;
    }

    img {
      object-fit: cover;
    }
  }
}
