/* H E R O */
.careers {
  .careers__container {
    padding-inline: clamp(0rem, 5vw, 5rem);

    @include media("<=64.5em") {
    }
  }

  .hero {
    overflow: hidden;
    // height: min(1080px, 100vh);
    position: relative;

    &__bg-video {
      object-fit: cover;
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &__content {
      padding-block-start: clamp(13rem, 17vw, 17rem);
      padding-block-end: clamp(3.5rem, 7.5vw, 7.5rem);

      &__text {
      }

      .hero__title {
        @include boldFont();
        font-size: clamp(3rem, 6.25vw, 6.25rem);
      }
      .hero__subtitle {
        font-size: clamp(1rem, 1.25vw, 1.25rem);
        max-width: min(25ch, 100%);
      }
    }
  }
}

/* O P P O R T U N I T I E S */
.careers {
  .opportunities {
    overflow: hidden;
    // height: min(1080px, 100vh);
    position: relative;

    &__bg-video {
      object-fit: cover;
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &__content {
      padding-block-end: clamp(13rem, 17vw, 17rem);
      //   padding-block-end: clamp(3.5rem, 7.5vw, 7.5rem);

      &__text {
      }

      .opportunities__title {
        font-weight: 400;
        font-size: clamp(1.5rem, 3.125vw, 3.125rem);
        margin-block-end: 1rem;
      }

      .opportunities__list {
        margin-block: 2rem;
        list-style-type: "✨";
      }

      .opportunities__trigger {
        background-color: transparent;
        border: 0;
        width: 100%;
        text-align: left;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover,
        &[data-state="open"] {
          .opportunities__trigger__icon {
            background-color: var(--color-primary);
          }
        }

        &[data-state="open"] {
          .opportunities__trigger__icon {
            transform: rotate(-180deg);
          }
        }
      }

      .opportunities__trigger__icon {
        --size: 2.5rem;
        width: var(--size);
        height: var(--size);
        background-color: var(--color-oslo-gray);
        color: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: calc(2 * var(--size));
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        //   padding-inline: ;
      }

      .opportunities__content__wrapper {
        overflow: hidden;
        &[data-state="open"] {
          animation: openCollapse 0.3s ease-out;
        }
        &[data-state="closed"] {
          animation: closeCollapse 0.3s ease-out;
        }
      }
      .opportunities__content {
        display: grid;
        grid-template-columns: max-content auto;
        gap: clamp(3.125rem, 6.25vw, 6.25rem);
        margin-block: 2rem;

        @include media("<=35.5em") {
          grid-template-columns: auto;
        }

        &__description__wrapper {
          max-width: min(70ch, 100%);
        }
        &__description {
          margin-block-end: 2rem;
        }

        &__cta {
          font-size: 0.813rem;
          background-color: var(--color-primary);
          color: var(--color-white);
          padding-block: 0.5rem;
          padding-inline: 1.5rem;
          border-radius: 100px;
          border: 0;
          cursor: pointer;
        }
      }

      .opportunities__content__info {
        margin-block-end: 1.15rem;
        & > span {
          display: block;
        }

        &__title {
          color: var(--color-bombay);
        }

        &__description {
          font-size: 0.813rem;

          & > span {
            display: block;
          }
        }
      }
    }
  }
}

@keyframes closeCollapse {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes openCollapse {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}
