/*  H E R O   */
.case-study {
  .hero {
    &__content {
      position: relative;
      height: min(1080px, 100vh);

      @include media("<=tablet") {
        height: min(756px, 70vh);
      }

      .hero__banner {
        position: absolute;
        background-color: var(--color-azure);
        background-color: var(--cs-title-color);
        width: 100%;
        height: 100%;

        img {
          object-fit: cover;
        }
      }

      // &__top {
      //   position: relative;
      //   z-index: 1;
      // }

      &__text {
        position: absolute;
        bottom: -5%;
        left: 15%;
        right: 15%;

        background-color: var(--color-white);
        padding-block: clamp(3.75rem, 6.75vw, 6.75rem);
        padding-inline: clamp(2.5rem, 4.75vw, 4.75rem);

        text-align: center;

        @include media("<=tablet") {
          left: 10%;
          right: 10%;
        }
      }

      .hero__title {
        @include boldFont();
        font-size: clamp(2rem, 6.25vw, 6.25rem);
        padding-block-end: clamp(0.5rem, 1vw, 1rem);
        color: var(--cs-title-color, --color-cerulean);
      }
      .hero__subtitle {
        @include boldFont();
        font-size: clamp(1.5rem, 3.125vw, 3.125rem);
        padding-block-end: clamp(0.5rem, 1.5vw, 1.5rem);
        color: var(--cs-title-color, --color-cerulean);
      }

      .hero__description {
        font-size: clamp(0.65rem, 0.875vw, 0.875rem);
        padding-block-end: 1rem;
      }
    }
  }
}

.case-study {
  .main-content {
    &__content {
      padding-block: 2rem;
      padding-block-start: clamp(10rem, 14vw, 14rem);
      padding-block-end: clamp(3rem, 5vw, 5rem);
    }

    .main-content__content__group {
      .main-content__content__title {
        font-size: clamp(2rem, 6.25vw, 6.25rem);
        padding-block-end: clamp(1rem, 2vw, 2rem);
        color: var(--cs-title-color);
      }

      .main-content__content__description {
        font-size: clamp(1rem, 1.15vw, 1.15rem);
      }

      .main-content__content__block {
        margin-block-end: clamp(5rem, 10vw, 10rem);
        position: relative;
        display: flex;
        gap: clamp(4.3rem, 9.3vw, 9.3rem);

        @include media(">=59.5em") {
          &:nth-of-type(even) {
            .main-content__content__text {
              order: 1;
            }
          }
        }

        @include media("<=59.5em") {
          flex-direction: column;
        }

        .main-content__content__text {
          max-width: min(70ch, 100%);
        }

        .main-content__content__image-list {
          position: relative;
          width: 50%;

          @include media("<=59.5em") {
            width: 100%;
          }

          .main-content__content__image__wrapper {
            position: absolute;

            @include media("<=59.5em") {
              position: static;
            }

            // &:nth-of-type(odd) {
            // }

            &:nth-of-type(even) {
              right: 15%;
              bottom: 0;
            }
          }

          .main-content__content__image {
            position: relative;
            aspect-ratio: 1/1;
            width: clamp(10rem, 20vw, 20rem);
            background-color: var(--color-azure);

            @include media("<=59.5em") {
              width: 100%;
              // display: inline-block;
            }

            img {
              object-fit: cover;
            }
          }
        }
      }

      .main-content__content__block {
        &.main-content__content__block--content {
          &:nth-of-type(even) {
            .main-content__content__image__wrapper {
              --rotationDeg: -10 !important;
            }
          }

          .main-content__content__image-list {
            @include media("<=59.5em") {
              display: grid;
              grid-template-columns: 1fr 1fr;
            }

            .main-content__content__image__wrapper {
              --rotationDeg: 10;

              &:nth-of-type(odd) {
                transform: rotate(calc(-1deg * var(--rotationDeg)));
              }

              &:nth-of-type(even) {
                transform: rotate(calc(1deg * var(--rotationDeg)));
              }
            }
          }
        }
      }

      .main-content__content__block {
        &.main-content__content__block--result {
          align-items: center;

          @include media("<=59.5em") {
            align-items: flex-start;
          }

          .main-content__content__title {
            position: relative;
            color: var(--color-alizarin-crimson);

            &--units {
              color: var(--color-black);
              font-size: 25%;
              position: absolute;
              top: 50%;
              margin-inline-start: 1rem;
              transform: translateY(-50%);

              @include media("<=tablet") {
                font-size: 50%;
                transform: translateY(-65%);
              }
            }
          }
          .main-content__content__text {
            max-width: min(50ch, 100%);
          }

          .main-content__content__image-list {
            @include media("<=59.5em") {
              display: grid;
              grid-template-columns: 1.5fr 0.5fr;
            }
            @include media("<=tablet") {
              display: unset;
            }
          }

          .main-content__content__image__wrapper {
            position: static;
          }

          .main-content__content__image {
            width: 100%;
          }
        }
      }
    }
  }
}
