/* H E R O */
.error {
  .hero {
    overflow: hidden;
    position: relative;

    &__content {
      padding-block-start: clamp(13rem, 17vw, 17rem);
      padding-block-end: clamp(3.5rem, 7.5vw, 7.5rem);

      &__text {
      }

      .hero__title {
        @include boldFont();
        font-size: clamp(3rem, 6.25vw, 6.25rem);
      }
      .hero__subtitle {
        font-size: clamp(1rem, 1.25vw, 1.25rem);
        max-width: min(25ch, 100%);
      }
    }
  }
}
