/* H E R O */
.home {
  .hero {
    background-color: var(--color-primary);
    color: var(--color-white);
    overflow: hidden;
    // min-height: 100vh;
    height: min(1080px, 100vh);
    position: relative;

    @include media("<=64.5em") {
      height: auto;
      // height: min(540px, 50vh);
    }

    &__bg {
      width: 100vw;
      height: 100%;
      position: absolute;
      z-index: 0;

      &-video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color-black);
        opacity: 0.5;
      }
    }

    &__content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      z-index: 1;

      @include media("<=64.5em") {
        padding-block: clamp(13rem, 17vw, 17rem);
      }

      &__text {
        max-width: min(62ch, 100%);
      }

      .hero__title {
        @include boldFont();
        font-size: clamp(3rem, 6.25vw, 6.25rem);
      }
      .hero__subtitle {
        font-size: clamp(1rem, 1.25vw, 1.25rem);
      }
    }

    &__learn-more {
      position: absolute;
      bottom: 5rem;
      right: 5rem;
      cursor: pointer;
      padding-block: 1rem;
      padding-inline: 1rem;

      svg {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.5rem;
      }
    }
  }
}

/* S E R V I C E S */
.home {
  .services {
    background-color: var(--color-azure);
    color: var(--color-white);

    &__content {
      padding-block: clamp(3rem, 5vw, 5rem);

      &__wrapper {
        display: grid;
        grid-template-columns: min(100%, 35ch) auto;
        gap: clamp(4.75rem, 8.75vw, 8.75rem);

        @include media("<=75em") {
          grid-template-columns: auto;
        }
      }

      &__text {
        max-width: min(100%, 40ch);
      }

      .services__title {
        font-size: clamp(2rem, 3.125vw, 3.125rem);
        line-height: 1;
        margin-block-end: 1.5rem;
      }
      .services__description {
        @include lightFont();
      }

      .services__card__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: clamp(4.75rem, 8.75vw, 8.75rem);
        row-gap: clamp(3.75rem, 5.75vw, 5.75rem);
      }

      .services__card {
        // padding-block: clamp(5rem, 5vw, 5rem);
        // padding-inline: clamp(1rem, 5vw, 7.5rem);

        &__content {
        }

        &__title {
          font-size: clamp(1.25rem, 1.5vw, 1.5rem);
          line-height: 1;
          margin-block-end: 1.5rem;
        }

        &__scope {
          // margin-block-end: 2rem;
          // max-width: min(35ch, 100%);
        }
      }
    }
  }
}

/* C L I E N T S */
.home {
  .clients {
    &__content {
      padding-block: clamp(3rem, 5vw, 5rem);

      &__wrapper {
        padding-block-end: clamp(6rem, 13vw, 13rem);
        display: grid;
        grid-template-columns: min(100%, 35ch) auto;
        gap: clamp(4.75rem, 8.75vw, 8.75rem);

        @include media("<=75em") {
          grid-template-columns: auto;
        }
      }

      &__text {
        max-width: min(100%, 40ch);
      }

      .clients__title {
        font-size: clamp(2rem, 3.125vw, 3.125rem);
        line-height: 1;
        margin-block-end: 1.5rem;
      }
      .clients__description {
        @include lightFont();
      }

      .clients__card__list {
        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        column-gap: clamp(4.75rem, 8.75vw, 8.75rem);
        row-gap: clamp(3.75rem, 3.75vw, 3.75rem);

        @include media("<=35.5em") {
          column-gap: clamp(2.75rem, 2.75vw, 2.75rem);
          grid-template-columns: repeat(3, 1fr);
        }
      }

      .clients__card {
        position: relative;
        // background-color: rebeccapurple;
        aspect-ratio: 16/9;

        &[data-aspect-type="square"] {
          aspect-ratio: 1/1;
        }
      }
    }
  }
}

/* A P P R A I S A L */
.home {
  .appraisal {
    &__content {
      padding-block: clamp(3rem, 5vw, 5rem);
      padding-block-end: clamp(6rem, 13vw, 13rem);

      &__wrapper {
        position: relative;
        // padding-block-end: clamp(6rem, 13vw, 13rem);
        display: grid;
        grid-template-columns: clamp(16rem, 25vw, 25rem) auto;
        // display: flex;
        // align-items: flex-end;
        gap: clamp(4.25rem, 8.125vw, 8.125rem);

        @include media("<=59.5em") {
          padding-block-end: unset;
          grid-template-columns: auto;
        }
      }

      &__image__wrapper {
        // position: absolute;
        position: relative;
        left: -100%;
        z-index: -1;

        @include media("<=59.5em") {
          left: -50%;
          grid-row-start: 2;
        }
      }
      &__image {
        position: relative;
        height: 200%;
        aspect-ratio: 400/257;
        transform: rotate(25deg);

        @include media("<=64.5em") {
          height: 150%;
        }

        @include media("<=59.5em") {
          height: 100%;
        }
      }

      &__text {
        // max-width: min(100%, 40ch);
      }

      .appraisal__title {
        line-height: 1;
        margin-block-end: 1.5rem;
        font-size: clamp(3rem, 6.25vw, 6.25rem);
      }
      .appraisal__description {
        @include lightFont();
        font-size: clamp(1rem, 1.25vw, 1.25rem);
      }

      .appraisal__cta {
        margin-block: 1rem;
      }
    }

    &__dot__image__wrapper {
      position: relative;
      width: 50%;
      margin-inline-start: auto;

      @include media("<=59.5em") {
        display: none;
        margin-inline-start: unset;
        width: 100%;
      }
    }
    &__dot__image {
      position: relative;
      width: 100%;
      aspect-ratio: 16/9;
    }
  }
}

/* W E   H E L P */
.home {
  .we-help {
    background-color: var(--color-parsley);
    color: var(--color-white);

    &__content {
      position: relative;
      padding-block-start: clamp(4.5rem, 8.5vw, 8.5rem);
      padding-block-end: clamp(13rem, 17vw, 17rem);

      @include media("<=35.5em") {
        padding-block-end: clamp(4.5rem, 8.5vw, 8.5rem);
      }

      &__text {
        position: relative;
        max-width: min(82ch, 100%);
        z-index: 1;
      }

      .we-help__title {
        @include boldFont();
        font-size: clamp(3rem, 6.25vw, 6.25rem);
      }

      .we-help__description {
        @include lightFont();
        font-size: clamp(1.25rem, 1.5vw, 1.5rem);
        margin-block: 1rem;
      }

      .we-help__cta {
        display: inline-block;
        background-color: var(--color-pastel-green);
        padding-block: 1rem;
        padding-inline: 2.15rem;
        border-radius: 100px;
      }

      .we-help__image__wrapper {
        @include media("<=35.5em") {
          margin-block-start: 4rem;
          // display: grid;
          // grid-template-columns: 1fr 1fr;
        }
      }
      .we-help__image {
        position: absolute;
        // z-index: 0;
        @include media("<=35.5em") {
          position: static;
        }

        &-1 {
          top: 0;
          right: -3rem;

          @include media("<=35.5em") {
            display: none;
          }
        }

        &-2 {
          bottom: -3rem;
          right: 12%;
          box-shadow: 0px 0px 50px #0000004d;

          @include media("<=35.5em") {
            box-shadow: unset;
          }
        }

        &__content {
          position: relative;
          background-color: rebeccapurple;
          aspect-ratio: 9/15;
          height: clamp(23.125rem, 41.875vw, 41.875rem);

          @include media("<=35.5em") {
            aspect-ratio: unset;
          }

          img {
            object-fit: cover;
          }
        }
      }
    }
  }
}

/* R E C E N T    W O R K S */
.home {
  .recent__works {
    // background-color: var(--color-black);
    // color: var(--color-white);

    &__content {
      padding-block: clamp(4.5rem, 8.5vw, 8.5rem);
      &__title {
        font-size: clamp(1.5rem, 2vw, 2rem);
        margin-block-end: 1.5rem;
      }
      //   .services__card {
      //     // background-color: var(--color-black);
      //     background-color: rgba($color: #0f0f0f, $alpha: 1);
      //     color: var(--color-white);
      //     padding-block: clamp(5rem, 5vw, 5rem);
      //     padding-inline: clamp(1rem, 5vw, 7.5rem);

      //     &__title {
      //       font-size: clamp(1rem, 2vw, 2rem);
      //       margin-block-end: 1.5rem;
      //     }
      // }
    }
    .recent__works__content__list {
      position: relative;
      display: grid;
      gap: 2rem;

      // grid-template-columns: repeat(2, 1fr);
      @include media(">=tablet") {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media(">=59.5em") {
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(6, calc(clamp(540px, 47.5vw, 760px) / 6));
        gap: 0;

        .recent__works__card__wrapper {
          display: block;
          width: 100%;
          // grid-column-end: span 2;
          grid-row-end: span 3;

          &:hover {
            z-index: 2;
          }

          &:nth-of-type(1) {
            grid-row-start: 1;
            grid-row-end: span 2;
            grid-column: 1 / span 2;
            z-index: 1;
          }
          &:nth-of-type(2) {
            grid-column: 2 / span 4;
            grid-row-start: 2;
            grid-row-end: span 4;
            z-index: 1;
          }
          &:nth-of-type(3) {
            grid-column: 1 / span 3;
            grid-row-start: 5;
            grid-row-end: span 2;
          }

          &:nth-of-type(4) {
            grid-column: 7 / span 3;
            grid-row-start: 1;
          }

          &:nth-of-type(5) {
            grid-column: 9 / span 2;
            grid-row-start: 3;
            grid-row-end: span 2;
          }

          &:nth-of-type(6) {
            grid-column: 7 / span 2;
            grid-row-start: 5;
            grid-row-end: span 2;
          }
        }
      }
    }

    .recent__works__card {
      width: 100%;
      height: 100%;

      &__image {
        position: relative;
        height: 100%;
        background-color: var(--color-azure);

        @include media("<=59.5em") {
          height: auto;
          aspect-ratio: 16 / 9;
        }

        img {
          object-fit: cover;
        }
      }
      &__content {
        padding-block: 1rem;
      }
      &__title {
        font-size: clamp(1.25rem, 1.5vw, 1.5rem);
      }
      &__subtitle {
        font-size: clamp(0.75rem, 0.75vw, 0.75rem);
      }
    }
  }
}
