/* H E R O */
.portfolio {
  .hero {
    background-color: var(--color-primary);
    color: var(--color-white);
    overflow: hidden;
    // min-height: 100vh;
    height: min(1080px, 100vh);
    position: relative;

    @include media("<=64.5em") {
      height: auto;
      // height: min(540px, 50vh);
    }

    &__bg {
      width: 100vw;
      height: 100%;
      position: absolute;
      z-index: 0;

      &-video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color-black);
        opacity: 0.4;
      }
    }

    &__content {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;

      @include media("<=64.5em") {
        padding-block: clamp(13rem, 17vw, 17rem);
      }

      @include media("<=59.5em") {
        flex-direction: column;
        align-items: flex-start;
      }

      &__text {
        max-width: min(67ch, 100%);
      }

      .hero__title {
        @include boldFont();
        font-size: clamp(3rem, 6.25vw, 6.25rem);
        margin-block-end: 1rem;
      }
      .hero__subtitle {
        font-size: clamp(1rem, 1.25vw, 1.25rem);
      }

      .hero__heading__main {
        .hero__title {
          @include media(">=64.5em") {
            margin-inline: 1rem;
          }
        }
      }

      .hero__heading__sub {
        --clamped: clamp(2rem, 4.688vw, 4.688rem);
        background-color: rgba($color: #000000, $alpha: 0.1);
        padding-block: clamp(4rem, 7vw, 7rem);
        padding-inline: calc(1 * var(--clamped));
        margin-inline-start: calc(-1 * var(--clamped));

        @include media("<=64.5em") {
          order: 1;
          margin-inline-start: unset;
          margin-inline-end: calc(-1 * var(--clamped));
        }

        .hero__title {
          font-size: clamp(1.25rem, 3.125vw, 3.125rem);
        }
      }
    }
  }
}

.portfolio {
  .works {
    &__content {
      &__main {
        display: grid;
        grid-template-columns: 300px auto;
        gap: clamp(4.5rem, 7vw, 7rem);
        padding-block: clamp(2rem, 3vw, 3rem);

        @include media("<=75em") {
          grid-template-columns: auto;
        }
      }
    }
    &__content__controls {
      &__sort {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        & > span {
          @include boldFont();
          font-size: clamp(1.25rem, 1.5vw, 1.5rem);
        }

        .works__content__controls__sort__trigger {
          display: block;
          background-color: var(--color-primary);
          color: var(--color-white);
          padding: 0.65rem 1.2rem;
          border: none;
          border-radius: 100px;
          cursor: pointer;
          transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          font-size: clamp(0.875rem, 0.875vw, 0.875rem);
          font-weight: 400;

          &:hover {
            background-color: var(--color-azure);
          }

          svg {
            font-size: 1.5rem;
          }
        }
      }

      &__filters {
        padding-block-start: clamp(1rem, 3vw, 3rem);

        .works__dropdown__trigger {
          display: block;
          text-transform: capitalize;
          margin-block-end: 1.5rem;
        }
        .works__dropdown__item {
          text-transform: capitalize;
        }
      }
    }

    &__content__list {
      padding-block-start: clamp(4rem, 6vw, 6rem);
      display: grid;

      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;
      row-gap: 3rem;

      @include media("<=75em") {
        padding-block-start: unset;
      }

      @include media("<=tablet") {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .works__card {
      &__image {
        position: relative;
        background-color: var(--color-silver-chalice);
        aspect-ratio: 2.05 / 2;
        // height: 384px;
        img {
          object-fit: cover;
        }
      }

      &__content {
        padding-block: clamp(1rem, 1vw, 1rem);
      }
      &__title {
        @include boldFont();
        font-size: clamp(1rem, 1vw, 1rem);
      }
      &__subtitle {
        font-size: clamp(0.875rem, 0.875vw, 0.875rem);
        padding-block-end: 0.625rem;
      }
      &__cta {
        font-size: clamp(0.875rem, 0.875vw, 0.875rem);
        svg {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}

.works__dropdown {
  &__trigger {
    cursor: pointer;
    background: transparent;
    border: 0;
    padding-inline: 0;
    @include boldFont();
    font-size: clamp(1rem, 1.25vw, 1.25rem);

    svg {
      display: inline-block;
      vertical-align: middle;
    }

    &:focus {
      outline: 0;
    }

    &:focus-visible {
      outline: 1px solid var(--color-black);
    }
  }

  &__content {
    min-width: 200px;
    background-color: white;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
      0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    @media (prefers-reduced-motion: no-preference) {
      animation-duration: 400ms;
      animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
      will-change: transform, opacity;
      &[data-state="open"] {
        &[data-side="top"] {
          animation-name: slideDownAndFade;
        }
        &[data-side="right"] {
          animation-name: slideLeftAndFade;
        }
        &[data-side="bottom"] {
          animation-name: slideUpAndFade;
        }
        &[data-side="left"] {
          animation-name: slideRightAndFade;
        }
      }
    }
  }

  &__item {
    all: unset;
    font-size: 13;
    line-height: 1;
    // color: violet.violet11;
    border-radius: 3;
    display: flex;
    align-items: center;
    // height: 25px;
    padding: 0 5px;
    position: relative;
    padding-inline-start: 25px;
    user-select: none;
    padding-block: 0.5rem;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &[data-disabled] {
      color: var(--color-silver-chalice);
      pointer-events: none;
    }

    &:focus {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
  &__itemIndicator {
    position: absolute;
    left: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    // width: 25px;
    // display: block;
    // align-items: center;
    // justify-content: center;
  }
}

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideRightAndFade {
  0% {
    opacity: 0;
    transform: translateX(-2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  0% {
    opacity: 0;
    transform: translateX(2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
