:root {
  --color-white: #ffffff;
  --color-silver-chalice: #b1b1b1;
  --color-bombay: #b7babe;
  --color-oslo-gray: #9c9d9e;
  --color-dove-gray: #707070;
  --color-abbey: #454647;
  --color-black: #0f0f0f;

  --color-alizarin-crimson: #e51e20;
  --color-parsley: #26601d;
  --color-blue-ribbon: #0056ff;
  --color-blue-ribbon-100: #006fff;
  --color-azure: #3157a2;
  --color-pastel-green: #62de50;
  --color-cerulean: #00aeed;
  --color-cream-can: #f2c25c;
  --color-mandy: #e85c73;

  // Semantics
  // --color-bg-dark: var(--color-mine-shaft);
  --color-bg-light: var(--color-white);
  // --color-bg-muted: var(--color-alabaster);
  --color-text-dark: var(--color-cod-gray);
  --color-text-muted-light: var(--color-bombay);
  --color-text-muted-dark: var(--color-dove-gray);
  --color-text-light: var(--color-white);
  --color-primary: var(--color-blue-ribbon);
  --cs-title-color: var(--color-black);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--color-black);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1570px;
  padding: 0 30px;
  margin: 0 auto;

  @include media(">=tablet", "<=1575px") {
    padding: 0 60px;
  }

  @include media(">=1920px") {
    max-width: 1920px;
  }
}

.container-fluid {
  // max-width: 1570px;
  // padding: 0 30px;
  margin: 0 auto;

  @include media(">=1920px") {
    max-width: 1920px;
  }
}

.text-primary {
  color: var(--color-primary);
}
.text-muted {
  color: var(--color-text-muted-dark);

  &--light {
    color: var(--color-text-muted-light);
  }
}

.bg-muted {
  background-color: var(--color-bg-muted);
}

.divider {
  color: var(--color-text-muted-light);
  border: 0;
  border-top: 1px solid currentColor;
}

// Contact Form
.contact__form {
  &__group {
    margin-block: 1rem;
  }
  &__input {
    background-color: transparent;
    display: block;
    border: 0;
    border-bottom: 1px solid var(--color-silver-chalice);
    padding-block: 1rem;
    width: 100%;
    border-radius: 0;

    outline: 0;
    color: var(--color-bombay);

    &::placeholder {
      color: var(--color-dove-gray);
    }

    &:focus {
      color: var(--color-white);
      border-color: currentColor;
    }

    &:focus-visible {
      outline: initial;
    }
  }

  button[type="submit"] {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.65rem 1.2rem;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:hover {
      background-color: var(--color-azure);
    }
  }
}

.btn {
  padding: 0.65rem 1.2rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: block;
}

.primary-btn {
  background-color: var(--color-primary);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-azure);
  }
}
